
<div class="container cd-main-content">
    <div class="row">
        <ul class="breadcrumb breadcrumb-whitebg">
            <li><a href="#">Datos Maestros</a></li>
            <li><a ui-sref="guiaEntrada">Gestion de Proveedor</a></li>
            <li class="active">Nuevo Proveedor</li>
            </ul>
    </div>
    <div class="row row-title">
        <div class="col-md-9">
            <h2 id="navbar-buttons">Nuevo Proveedor</h2>
        </div>
        <div class="col-md-3">
            <div class="pull-right btn-title">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel-body">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="col-md-2 control-label" for="textinput">Codigo</label>
                    <div class="col-md-3">
                        <input id="textinput" name="textinput" placeholder="Codigo"
                            class="form-control input-md" type="text" ng-model="provider.id"/>
                    </div>
                    <label class="col-md-2 control-label" for="textinput">Descripcion Corta</label>
                    <div class="col-md-3">
                    	<input id="textinput" name="textinput" placeholder="Descripcion Corta"
                             class="form-control input-md" type="text" ng-model="provider.shortDescription"/>
                	</div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="textinput">RUC</label>
                    <div class="col-md-3">
                        <input id="textinput" name="textinput" placeholder="RUC"
                            class="form-control input-md" type="text" ng-model="provider.ruc"/>
                    </div>
                    <label class="col-md-2 control-label" for="textinput">Descripcion Larga</label>
                    <div class="col-md-3">                    	
                        <textarea class="form-control textarea-md" placeholder="Descripcion Larga"  style="resize:none;" cols="40" rows="4" name="textarea" id="textarea" ng-model="provider.longDescription" ></textarea>     
                	</div>
                </div>
                
                <div class="form-group">
                    <div class="col-md-5">
                    </div>
                    <div class="col-md-5">
                        
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div role="tabpanel">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#datosGenerales" aria-controls="datosGenerales" role="tab" data-toggle="tab">Datos Generales</a></li>
            <li role="presentation"><a href="#contacto" aria-controls="contacto" role="tab" data-toggle="tab">Contacto</a></li>            
            <li role="presentation"><a href="#condiciones" aria-controls="condiciones" role="tab" data-toggle="tab">Condiciones</a></li>
            <li role="presentation"><a href="#listaOC" aria-controls="listaOC" role="tab" data-toggle="tab">Lista OC</a></li>
            <li role="presentation"><a href="#productos" aria-controls="productos" role="tab" data-toggle="tab">Productos</a></li>
        </ul>
        
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="datosGenerales">
                <div class="row clearfix row-space">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="textinput">Direccion</label>
                            <div class="col-md-8">
                                <textarea class="form-control textarea-md" placeholder="Direccion"  style="resize:none;" cols="40" rows="4" name="textarea" id="textarea" ng-model="provider.address" ></textarea>
                            </div>                            
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="textinput">Telefono</label>
                            <div class="col-md-3">
                                <input id="textinput" name="textinput" placeholder="Telefono"
                                    class="form-control input-md" type="text" ng-model="provider.telephone"/>
                            </div>
                            <label class="col-md-2 control-label" for="textinput">Anexo</label>
                            <div class="col-md-3">
                                <input id="textinput" name="textinput" placeholder="Anexo"
                                    class="form-control input-md" type="text" ng-model="provider.annex"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="textinput">Correo</label>
                            <div class="col-md-3">
                                <input id="textinput" name="textinput" placeholder="Correo"
                                    class="form-control input-md" type="text" ng-model="provider.email"/>
                            </div>
                            <label class="col-md-2 control-label" for="textinput">Celular</label>
                            <div class="col-md-3">
                                <input id="textinput" name="textinput" placeholder="Celular"
                                    class="form-control input-md" type="text" ng-model="provider.cellphone"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="textinput">Web</label>
                            <div class="col-md-3">
                                <input id="textinput" name="textinput" placeholder="Web"
                                    class="form-control input-md" type="text" ng-model="provider.web"/>
                            </div>
                            <label class="col-md-2 control-label" for="textinput">Tipo</label>
                            <div class="col-md-3">
                                <input id="textinput" name="textinput" placeholder="Tipo"
                                    class="form-control input-md" type="text" ng-model="provider.type"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="textinput">Fecha Creación</label>
                            <div class="col-md-3">
		                        <div class='input-group date datetimepicker'>
		                            <input type='text' class="form-control" ng-model="provider.creationDate" /> 
		                            <span class="input-group-addon">
		                                <span class="glyphicon glyphicon-calendar"></span>
		                            </span>
		                        </div>
		                    </div>
                            <label class="col-md-2 control-label" for="textinput">Estado</label>
                            <div class="col-md-3">
                                <input id="textinput" name="textinput" placeholder="Estado"
                                    class="form-control input-md" type="text" ng-model="provider.status"/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="contacto">
                <div class="row clearfix row-space">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="textinput">Nombre</label>
                            <div class="col-md-8">
                                <input id="textinput" name="textinput" placeholder="Nombre"
                                    class="form-control input-md" type="text" ng-model="provider.contactName"/>
                            </div>                            
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="textinput">Telefono</label>
                            <div class="col-md-3">
                                <input id="textinput" name="textinput" placeholder="Telefono"
                                    class="form-control input-md" type="text" ng-model="provider.contactTelephone"/>
                            </div>
                            <label class="col-md-2 control-label" for="textinput">Anexo</label>
                            <div class="col-md-3">
                                <input id="textinput" name="textinput" placeholder="Anexo"
                                    class="form-control input-md" type="text" ng-model="provider.contactAnnex"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="textinput">Correo</label>
                            <div class="col-md-3">
                                <input id="textinput" name="textinput" placeholder="Correo"
                                    class="form-control input-md" type="text" ng-model="provider.contactEmail"/>
                            </div>
                            <label class="col-md-2 control-label" for="textinput">Celular</label>
                            <div class="col-md-3">
                                <input id="textinput" name="textinput" placeholder="Celular"
                                    class="form-control input-md" type="text" ng-model="provider.contactCellphone"/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="condiciones">
                <div class="row clearfix row-space">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="textinput">Forma de Pago</label>
                            <div class="col-md-3">
                                <input id="textinput" name="textinput" placeholder="Forma de Pago"
                                    class="form-control input-md" type="text" ng-model="provider.paymentMethod"/>
                            </div>
                            <label class="col-md-2 control-label" for="textinput">Dias</label>
                            <div class="col-md-3">
                                <input id="textinput" name="textinput" placeholder="Dias"
                                    class="form-control input-md" type="text" ng-model="provider.days"/>
                            </div>                            
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="textinput">Banco</label>
                            <div class="col-md-3">
                                <input id="textinput" name="textinput" placeholder="Banco"
                                    class="form-control input-md" type="text" ng-model="provider.bank"/>
                            </div>
                            <label class="col-md-2 control-label" for="textinput">Nro de Cuenta</label>
                            <div class="col-md-3">
                                <input id="textinput" name="textinput" placeholder="Nro de Cuenta"
                                    class="form-control input-md" type="text" ng-model="provider.bankAccount"/>
                            </div>
                        </div>                        
                    </form>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="listaOC">
                <table class="table table-striped">
	                <thead>
	                    <tr>
	                        <th>Item</th>
	                        <th>Fecha Compra</th>
	                        <th>N&deg; OC</th>
	                        <th>Sub Total</th>
	                        <th>Descuento</th>
	                        <th>Importe Neto</th>
	                        <th>IGV</th>
	                        <th>Total</th>
	                    </tr>
	                </thead>
	                <tbody>
	                    <tr>
	                        <td>&nbsp;</td>
	                        <td>&nbsp;</td>
	                        <td>&nbsp;</td>
	                        <td>&nbsp;</td>
	                        <td>&nbsp;</td>
                           	<td>&nbsp;</td>
                           	<td>&nbsp;</td>
                           	<td>&nbsp;</td>
	                    </tr>
	                    <tr>
	                        <td>&nbsp;</td>
	                        <td>&nbsp;</td>
	                        <td>&nbsp;</td>
	                        <td>&nbsp;</td>
	                        <td>&nbsp;</td>
                           	<td>&nbsp;</td>
                           	<td>&nbsp;</td>
                           	<td>&nbsp;</td>
	                    </tr>
	                    <tr>
	                        <td>&nbsp;</td>
	                        <td>&nbsp;</td>
	                        <td>&nbsp;</td>
	                        <td>&nbsp;</td>
	                        <td>&nbsp;</td>
	                        <td>&nbsp;</td>
	                        <td>&nbsp;</td>
	                        <td>&nbsp;</td>
	                    </tr>
	                </tbody>
             	</table>
            </div>
            <div role="tabpanel" class="tab-pane" id="productos">
                <table class="table table-striped">
	                <thead>
	                    <tr>
	                        <th>Item</th>
	                        <th>Producto</th>
	                        <th>Descripcion</th>
	                        <th>Unidad Medida</th>
	                        <th>Precio Compra</th>	                        
	                    </tr>
	                </thead>
	                <tbody>
	                    <tr>
	                        <td>&nbsp;</td>
	                        <td>&nbsp;</td>
	                        <td>&nbsp;</td>
	                        <td>&nbsp;</td>
	                        <td>&nbsp;</td>
	                    </tr>
	                    <tr>
	                        <td>&nbsp;</td>
	                        <td>&nbsp;</td>
	                        <td>&nbsp;</td>
	                        <td>&nbsp;</td>
	                        <td>&nbsp;</td>
	                    </tr>
	                    <tr>
	                        <td>&nbsp;</td>
	                        <td>&nbsp;</td>
	                        <td>&nbsp;</td>
	                        <td>&nbsp;</td>
	                        <td>&nbsp;</td>
	                    </tr>
	                </tbody>
             	</table>
            </div>
        </div>
    </div>
    
    <div class="row pull-right">
	    <a ui-sref="guiaEntrada" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span> Grabar</a>
        <a ui-sref="guiaEntrada" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Cancelar</a>
	</div>
</div>