
<div class="container cd-main-content">
    <div class="row">
        <ul class="breadcrumb breadcrumb-whitebg">
            <li><a href="#">Datos Maestros</a></li>
            <li><a ui-sref="gestionClientes">Gestion de Clientes</a></li>
            <li class="active">Nuevo Cliente</li>
            </ul>
    </div>
    <div class="row row-title">
        <div class="col-md-9">
            <h2 id="navbar-buttons">Nuevo Cliente</h2>
        </div>
        <div class="col-md-3">
            <div class="pull-right btn-title">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel-body">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="col-md-2 control-label" for="textinput">Codigo</label>
                    <div class="col-md-3">
                        <input id="textinput" name="textinput" placeholder="Codigo"
                            class="form-control input-md" type="text" ng-model="customer.id"/>
                    </div>
                    <label class="col-md-2 control-label" for="textinput">Descripcion Corta</label>
                    <div class="col-md-3">
                    	<input id="textinput" name="textinput" placeholder="Descripcion Corta"
                             class="form-control input-md" type="text" ng-model="customer.description"/>
                	</div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="textinput">Tipo de Documento</label>
                    <div class="col-md-3">
                        <button class="btn btn-100 btn-default dropdown-toggle" type="button" id="tipoDocumento"
                            data-toggle="dropdown">
                            <span class="txt-drp">Seleccione</span> <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-100" role="menu" aria-labelledby="tipoDocumento">
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">RUC</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">DNI</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">C.E.</a></li>
                        </ul>
                    </div>
                    <label class="col-md-2 control-label" for="textinput">Nro de Documento</label>
                    <div class="col-md-3">
                        <input id="textinput" name="textinput" placeholder="Nro de Documento"
                            class="form-control input-md" type="text" ng-model="customer.docCode" />
                    </div>
                </div>                
                <div class="form-group">
                    <div class="col-md-5">
                    </div>
                    <div class="col-md-5">                        
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div role="tabpanel">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#datosGenerales" aria-controls="datosGenerales" role="tab" data-toggle="tab">Datos Generales</a></li>
            <li role="presentation"><a href="#listaPedidoVenta" aria-controls="contacto" role="tab" data-toggle="tab">lista Pedido Venta</a></li>
            <li role="presentation"><a href="#productos" aria-controls="productos" role="tab" data-toggle="tab">Productos</a></li>
        </ul>
        
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="datosGenerales">
                <div class="row clearfix row-space">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="textinput">Direccion</label>
                            <div class="col-md-8">
                                <textarea class="form-control textarea-md" placeholder="Direccion"  style="resize:none;" cols="40" rows="4" name="textarea" id="textarea" ng-model="customer.address" ></textarea>
                            </div>                            
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="textinput">Telefono</label>
                            <div class="col-md-3">
                                <input id="textinput" name="textinput" placeholder="Telefono"
                                    class="form-control input-md" type="text" ng-model="customer.telephone"/>
                            </div>
                            <label class="col-md-2 control-label" for="textinput">Anexo</label>
                            <div class="col-md-3">
                                <input id="textinput" name="textinput" placeholder="Anexo"
                                    class="form-control input-md" type="text" ng-model="customer.annex"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="textinput">Correo</label>
                            <div class="col-md-3">
                                <input id="textinput" name="textinput" placeholder="Correo"
                                    class="form-control input-md" type="text" ng-model="customer.email"/>
                            </div>
                            <label class="col-md-2 control-label" for="textinput">Celular</label>
                            <div class="col-md-3">
                                <input id="textinput" name="textinput" placeholder="Celular"
                                    class="form-control input-md" type="text" ng-model="customer.cellphone"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="textinput">Web</label>
                            <div class="col-md-3">
                                <input id="textinput" name="textinput" placeholder="Web"
                                    class="form-control input-md" type="text" ng-model="customer.web"/>
                            </div>
                            <label class="col-md-2 control-label" for="textinput">Actividad</label>
                            <div class="col-md-3">
                                <input id="textinput" name="textinput" placeholder="Actividad"
                                    class="form-control input-md" type="text" ng-model="customer.activity"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="textinput">Fecha Creación</label>
                            <div class="col-md-3">
		                        <div class='input-group date datetimepicker'>
		                            <input type='text' class="form-control" ng-model="customer.creationDate" /> 
		                            <span class="input-group-addon">
		                                <span class="glyphicon glyphicon-calendar"></span>
		                            </span>
		                        </div>
		                    </div>
                            <label class="col-md-2 control-label" for="textinput">Estado</label>
                            <div class="col-md-3">
                                <input id="textinput" name="textinput" placeholder="Estado"
                                    class="form-control input-md" type="text" ng-model="customer.status"/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="listaPedidoVenta">
                <table class="table table-striped">
	                <thead>
	                    <tr>
	                        <th>Item</th>
	                        <th>Fecha Venta</th>
	                        <th>N&deg; Pedido Venta</th>
	                        <th>Sub Total</th>
	                        <th>Descuento</th>
	                        <th>Importe Neto</th>
	                        <th>IGV</th>
	                        <th>Total</th>
	                    </tr>
	                </thead>
	                <tbody>
	                    <tr>
	                        <td>&nbsp;</td>
	                        <td>&nbsp;</td>
	                        <td>&nbsp;</td>
	                        <td>&nbsp;</td>
	                        <td>&nbsp;</td>
                           	<td>&nbsp;</td>
                           	<td>&nbsp;</td>
                           	<td>&nbsp;</td>
	                    </tr>
	                    <tr>
	                        <td>&nbsp;</td>
	                        <td>&nbsp;</td>
	                        <td>&nbsp;</td>
	                        <td>&nbsp;</td>
	                        <td>&nbsp;</td>
                           	<td>&nbsp;</td>
                           	<td>&nbsp;</td>
                           	<td>&nbsp;</td>
	                    </tr>
	                    <tr>
	                        <td>&nbsp;</td>
	                        <td>&nbsp;</td>
	                        <td>&nbsp;</td>
	                        <td>&nbsp;</td>
	                        <td>&nbsp;</td>
	                        <td>&nbsp;</td>
	                        <td>&nbsp;</td>
	                        <td>&nbsp;</td>
	                    </tr>
	                </tbody>
             	</table>
            </div>
            <div role="tabpanel" class="tab-pane" id="productos">
                <table class="table table-striped">
	                <thead>
	                    <tr>
	                        <th>Item</th>
	                        <th>Producto</th>
	                        <th>Descripcion</th>
	                        <th>Unidad Medida</th>
	                        <th>Precio Venta</th>	                        
	                    </tr>
	                </thead>
	                <tbody>
	                    <tr>
	                        <td>&nbsp;</td>
	                        <td>&nbsp;</td>
	                        <td>&nbsp;</td>
	                        <td>&nbsp;</td>
	                        <td>&nbsp;</td>
	                    </tr>
	                    <tr>
	                        <td>&nbsp;</td>
	                        <td>&nbsp;</td>
	                        <td>&nbsp;</td>
	                        <td>&nbsp;</td>
	                        <td>&nbsp;</td>
	                    </tr>
	                    <tr>
	                        <td>&nbsp;</td>
	                        <td>&nbsp;</td>
	                        <td>&nbsp;</td>
	                        <td>&nbsp;</td>
	                        <td>&nbsp;</td>
	                    </tr>
	                </tbody>
             	</table>
            </div>
        </div>
    </div>
    
    <div class="row pull-right">
	    <a ui-sref="gestionClientes" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span> Grabar</a>
        <a ui-sref="gestionClientes" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Cancelar</a>
	</div>
</div>