
<div class="container cd-main-content">
    <div class="row">
        <ul class="breadcrumb breadcrumb-whitebg">
            <li><a href="#">Datos Maestros</a></li>
            <li class="active">Gestion de Clientes</li>
            </ul>
    </div>
    <div class="row row-title">
        <div class="col-md-9">
            <h2 id="navbar-buttons">Gestion de Clientes</h2>
        </div>
        <div class="col-md-3">
            <div class="pull-right btn-title">
                <a href="#" class="btn btn-info"><span class="glyphicon glyphicon-search"></span> Buscar</a>
                <a ui-sref="agregarClientes" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Nuevo Clientes</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel-body">
            <form class="form-horizontal" role="form">
                <div class="form-group form-weight-normal">
                    <label class="col-md-2 control-label" for="textinput">N&deg; Clientes</label>
                    <div class="col-md-3">
                        <input id="textinput" name="textinput" placeholder="N&deg; Clientes" class="form-control input-md"
                            type="text"/>
                    </div>
                    <label class="col-md-2 control-label" for="textinput">Nombre</label>
                    <div class="col-md-3">
                        <input id="textinput" name="textinput" placeholder="Nombre"
                            class="form-control input-md" type="text"/>
                    </div>
                </div>
                <div class="form-group form-weight-normal">                    
                    <label class="col-md-2 control-label" for="textinput">Tipo de Documento</label>
                    <div class="col-md-3">
                        <button class="btn btn-100 btn-default dropdown-toggle" type="button" id="tipoDocumento"
                            data-toggle="dropdown">
                            <span class="txt-drp">Seleccione</span> <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-100" role="menu" aria-labelledby="tipoDocumento">
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">RUC</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">DNI</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">C.E.</a></li>
                        </ul>
                    </div>
                    <label class="col-md-2 control-label" for="textinput">Nro de Documento</label>
                    <div class="col-md-3">
                        <input id="textinput" name="textinput" placeholder="Nro de Documento"
                            class="form-control input-md" type="text" />
                    </div>                    
                </div>                
                <div class="form-group">
                    <div class="col-md-5">
                    </div>
                    <div class="col-md-5">
                        
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div role="tabpanel" class="table-responsive">
        <table ng-table="tableParams" class="table table-striped">
            <thead>
                <tr>
                    <th>N&deg; Clientes</th>
                    <th>Fecha de Creacion</th>
                    <th>Nombre</th>
                    <th>N&deg; Documento</th>
                    <th>Telefono Celular</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="cliente in $data">
                    <td ui-sref="editarClientes({clienteId: cliente.id})" >{{cliente.id}}</td>
                    <td>{{cliente.creationDate}}</td>
                    <td>{{cliente.name}}</td>
                    <td>{{cliente.docCode}}</td>
                    <td>{{cliente.cellphone}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>