
<div class="container cd-main-content">
    <div class="row">
        <ul class="breadcrumb breadcrumb-whitebg">
            <li><a href="#">Inventario</a></li>
            <li><a ui-sref="guiaEntrada">Guia de Entrada</a></li>
            <li class="active">Nueva Guia de Entrada</li>
            </ul>
    </div>
    <div class="row row-title">
        <div class="col-md-9">
            <h2 id="navbar-buttons">Nueva Guia de Entrada</h2>
        </div>
        <div class="col-md-3">
            <div class="pull-right btn-title">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel-body">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="col-md-2 control-label" for="textinput">Tipo de Documento</label>
                    <div class="col-md-3">
                        <button class="btn btn-100 btn-default dropdown-toggle" type="button" id="tipoDocumento"
                            data-toggle="dropdown">
                            <span class="txt-drp">Seleccione</span> <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-100" role="menu" aria-labelledby="tipoDocumento">
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Orden de Compra</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Orden de Fabricacion</a></li>
                        </ul>
                    </div>
                    <label class="col-md-2 control-label" for="textinput">Nro de Documento</label>
                    <div class="col-md-3">
                        <input id="textinput" name="textinput" placeholder="Nro de Documento"
                            class="form-control input-md" type="text" ng-model="inboundGuide.docCode" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="textinput">Proveedor</label>
                    <div class="col-md-3">
                        <input id="textinput" name="textinput" placeholder="Proveedor" class="form-control input-md"
                            type="text" ng-model="inboundGuide.provider" />
                    </div>
                    <label class="col-md-2 control-label" for="textinput">Fecha de Recepcion</label>
                    <div class="col-md-3">
                        <div class='input-group date datetimepicker'>
                            <input type='text' class="form-control" ng-model="inboundGuide.receptionDate" /> 
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="textinput">Centro</label>
                    <div class="col-md-3">
                        <input id="textinput" name="textinput" placeholder="Centro" class="form-control input-md"
                            type="text"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-5">
                    </div>
                    <div class="col-md-5">
                        
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div role="tabpanel">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Producto</th>
                    <th>Descripcion</th>
                    <th>Cantidad Solicitada</th>
                    <th>Cantidad Recibida</th>
                    <th>Unidad de Medida</th>
                    <th>Costo</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <div role="tabpanel">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#documentosEntrega" aria-controls="documentosEntrega" role="tab" data-toggle="tab">Documentos de Entrega</a></li>
            <li role="presentation"><a href="#datosFactura" aria-controls="datosFactura" role="tab" data-toggle="tab">Datos de Factura</a></li>
        </ul>
        
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="documentosEntrega">
                <div class="row clearfix row-space">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="textinput">Tipo de Documento</label>
                            <div class="col-md-3">
                                <input id="textinput" name="textinput" placeholder="Tipo de Documento"
                                    class="form-control input-md" type="text" ng-model="inboundGuide.docType"/>
                            </div>
                            <label class="col-md-2 control-label" for="textinput">Nro de Documento</label>
                            <div class="col-md-3">
                                <input id="textinput" name="textinput" placeholder="Nro de Documento"
                                    class="form-control input-md" type="text" ng-model="inboundGuide.docCode"/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="datosFactura">
                <div class="row clearfix row-space">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="textinput">Nro de Factura</label>
                            <div class="col-md-3">
                                <input id="textinput" name="textinput" placeholder="Nro de Factura"
                                    class="form-control input-md" type="text" ng-model="inboundGuide.ticketNumber"/>
                            </div>
                            <label class="col-md-2 control-label" for="textinput">Sub Total</label>
                            <div class="col-md-3">
                                <input id="textinput" name="textinput" placeholder="Sub Total"
                                    class="form-control input-md" type="text" ng-model="inboundGuide.subTotal"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="textinput">Descuento</label>
                            <div class="col-md-3">
                                <input id="textinput" name="textinput" placeholder="Descuento"
                                    class="form-control input-md" type="text" ng-model="inboundGuide.discount"/>
                            </div>
                            <label class="col-md-2 control-label" for="textinput">Importe Neto</label>
                            <div class="col-md-3">
                                <input id="textinput" name="textinput" placeholder="Importe Neto"
                                    class="form-control input-md" type="text" ng-model="inboundGuide.netAmount"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="textinput">IGV</label>
                            <div class="col-md-3">
                                <input id="textinput" name="textinput" placeholder="IGV"
                                    class="form-control input-md" type="text" ng-model="inboundGuide.igv"/>
                            </div>
                            <label class="col-md-2 control-label" for="textinput">Total</label>
                            <div class="col-md-3">
                                <input id="textinput" name="textinput" placeholder="Total"
                                    class="form-control input-md" type="text" ng-model="inboundGuide.total"/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row pull-right">
	    <a ui-sref="guiaEntrada" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span> Grabar</a>
        <a ui-sref="guiaEntrada" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Cancelar</a>
	</div>
</div>