
<div class="container cd-main-content">
    <div class="row">
        <ul class="breadcrumb breadcrumb-whitebg">
            <li><a href="#">Inventarios</a></li>
            <li class="active">Guida de Entrada</li>
            </ul>
    </div>
    <div class="row row-title">
        <div class="col-md-9">
            <h2 id="navbar-buttons">Guida de Entrada</h2>
        </div>
        <div class="col-md-3">
            <div class="pull-right btn-title">
                <a href="#" class="btn btn-info"><span class="glyphicon glyphicon-search"></span> Buscar</a>
                <a ui-sref="agregarGuiaEntrada" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Agregar</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel-body">
            <form class="form-horizontal" role="form">
                <div class="form-group form-weight-normal">
                    <label class="col-md-2 control-label" for="textinput">N&deg; Formulacion</label>
                    <div class="col-md-3">
                        <input id="textinput" name="textinput" placeholder="N&deg; Formulacion" class="form-control input-md"
                            type="text"/>
                    </div>
                    <label class="col-md-2 control-label" for="textinput">Descripcion</label>
                    <div class="col-md-3">
                        <input id="textinput" name="textinput" placeholder="Descripcion Corta"
                            class="form-control input-md" type="text"/>
                    </div>
                </div>
                <div class="form-group form-weight-normal">
                    <label class="col-md-2 control-label" for="textinput">Producto</label>
                    <div class="col-md-3">
                        <input id="textinput" name="textinput" placeholder="Producto" class="form-control input-md"
                            type="text"/>
                    </div>
                    <label class="col-md-2 control-label" for="textinput">Lote</label>
                    <div class="col-md-3">
                        <input id="textinput" name="textinput" placeholder="Lote"
                            class="form-control input-md" type="text"/>
                    </div>
                </div>
                <div class="form-group form-weight-normal">
                    <label class="col-md-2 control-label" for="textinput">Unidad Medida</label>
                    <div class="col-md-3">
                        <input id="textinput" name="textinput" placeholder="Unidad Medida" class="form-control input-md"
                            type="text"/>
                    </div>
                    <label class="col-md-2 control-label" for="textinput">Tipo de Material</label>
                    <div class="col-md-3">
                        <button class="btn btn-100 btn-default dropdown-toggle" type="button" id="tipoMaterial"
                            data-toggle="dropdown">
                            <span class="txt-drp">Seleccione</span> <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-100" role="menu" aria-labelledby="tipoMaterial">
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Materia Prima</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Producto Terminado</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Componente</a></li>
                        </ul>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-5">
                    </div>
                    <div class="col-md-5">
                        
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div role="tabpanel" class="table-responsive">
        <table ng-table="tableParams" class="table table-striped">
            <thead>
                <tr>
                    <th>N° Formulacion</th>
                    <th>Material</th>
                    <th>Descripcion</th>
                    <th>Unidad Medida</th>
                    <th>Lote</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="guia in $data">
                    <td>{{guia.id}}</td>
                    <td>{{guia.name}}</td>
                    <td>{{guia.description}}</td>
                    <td>{{guia.unitOfMeasure}}</td>
                    <td>{{guia.lot}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>