

<div class="container cd-main-content">
    <div class="row">
        <ul class="breadcrumb breadcrumb-whitebg">
            <li><a href="#">Produccion</a></li>
            <li class="active">Centros de Trabajo</li>
            </ul>
    </div>
    <div class="row row-title">
        <div class="col-md-9">
            <h2 id="navbar-buttons">Centros de Trabajo</h2>
        </div>
        <div class="col-md-3">
            <div class="pull-right btn-title">
                <a href="#" class="btn btn-info"><span class="glyphicon glyphicon-search"></span> Buscar</a>
                <a ui-sref="agregarCentroTrabajo" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Nuevo Centro</a>
            </div>
        </div>
    </div>
    <div class="panel">
        <div class="panel-body">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="col-md-2 control-label" for="textinput">N&deg; Centro de Trabajo</label>
                    <div class="col-md-3">
                        <input id="textinput" name="textinput" placeholder="N&deg; Centro de Trabajo" class="form-control input-md"
                            type="text"/>
                    </div>
                    <label class="col-md-2 control-label" for="textinput">Descripcion</label>
                    <div class="col-md-3">
                        <input id="textinput" name="textinput" placeholder="Descripcion"
                            class="form-control input-md" type="text"/>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div role="tabpanel" class="table-responsive" id="listaCentrosDiv">
        <table ng-table="tableParams" class="table table-striped">
            <thead>
                <tr>
                    <th>Codigo</th>
                    <th>Descripcion Corta</th>
                    <th>N&deg; Obreros</th>
                    <th>Costo por Obrero</th>
                    <th>N&deg; Maquinas</th>
                    <th>Gastos Varios (%)</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="centro in $data">
                    <td ui-sref="editarCentroTrabajo({centroTrabajoId: centro.id})" >{{centro.id}}</td> 
                    <td>{{centro.description}}</td>
                    <td>{{centro.numberOfWorkers}}</td>
                    <td>{{centro.costByWorker}}</td>
                    <td>{{centro.numberOfMachines}}</td>
                    <td>{{centro.otherExpenses}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>