
<div class="container cd-main-content">
    <div class="row">
        <ul class="breadcrumb breadcrumb-whitebg">
            <li><a href="#">Datos Maestros</a></li>
            <li><a href="#">Gestion de Centros</a></li>
            <li class="active">Nuevo Centro</li>
            </ul>
    </div>
    <div class="row row-title">
        <div class="col-md-9">
            <h2 id="navbar-buttons">Nuevo Centro</h2>
        </div>
        <div class="col-md-3">
        </div>
    </div>
    <div class="panel">
        <div class="panel-body">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="col-md-2 control-label" for="textinput">Codigo</label>
                    <div class="col-md-3">
                        <input id="textinput" name="textinput" placeholder="Codigo"
                            class="form-control input-md" type="text" ng-model="center.id"/>
                    </div>
                    <label class="col-md-2 control-label" for="textinput">Descripcion Corta</label>
                    <div class="col-md-3">
                    	<input id="textinput" name="textinput" placeholder="Descripcion Corta"
                             class="form-control input-md" type="text" ng-model="center.description"/>
                	</div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="textinput">Direccion</label>
                    <div class="col-md-3">
                        <input id="textinput" name="textinput" placeholder="Direccion" class="form-control input-md"
                            type="text" ng-model="center.address"/>
                    </div>
                    <label class="col-md-2 control-label" for="textinput">Tipo de Centro</label>
                    <div class="col-md-3">
                    	<input type="hidden" ng-model="center.centerType" value="{{center.centerType}}"/>
                        <button class="btn btn-100 btn-default dropdown-toggle" type="button" id="tipoCentro"
	                      data-toggle="dropdown">
	                      <span class="txt-drp">Seleccione</span> <span class="caret"></span>
	                    </button>
	                    <ul class="dropdown-menu dropdown-menu-100" role="menu" aria-labelledby="tipoCentro">
	                      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Punto de Venta</a></li>
	                      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Almacen</a></li>
	                    </ul>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="textinput">Estado</label>
                    <div class="col-md-3">
                    	<input type="hidden" ng-model="center.status" value="{{center.status}}"/>
                        <button class="btn btn-100 btn-default dropdown-toggle" type="button" id="estado"
                      data-toggle="dropdown">
                      <span class="txt-drp">Seleccione</span> <span class="caret"></span>
                      
                  </button>
                  <ul class="dropdown-menu dropdown-menu-100" role="menu" aria-labelledby="estado">
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Activo</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Inactivo</a></li>
                  </ul>
                    </div>
                    <label class="col-md-2 control-label" for="textinput">Telefono</label>
                    <div class="col-md-3">
                        <input id="textinput" name="textinput" placeholder="Telefono"
                            class="form-control input-md" type="text" ng-model="center.phone"/>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row pull-right">
        <a ng-click="addCenter()" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span> Grabar</a>
        <a ui-sref="gestionCentros" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Cancelar</a>
    </div>
</div>
