
<div class="container cd-main-content">
    <div class="row">
        <ul class="breadcrumb breadcrumb-whitebg">
            <li><a href="#">Produccion</a></li>
            <li class="active">Ruta de Fabricacion</li>
            </ul>
    </div>
    <div class="row row-title">
        <div class="col-md-9">
            <h2 id="navbar-buttons">Ruta de Fabricacion</h2>
        </div>
        <div class="col-md-3">
            <div class="pull-right btn-title">
                <a href="#" class="btn btn-info"><span class="glyphicon glyphicon-search"></span> Buscar</a>
                <a ui-sref="agregarRutaFabricacion" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Agregar</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel-body">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="col-md-2 control-label" for="textinput">N&deg; Ruta de Fabricacion</label>
                    <div class="col-md-3">
                        <input id="textinput" name="textinput" placeholder="N&deg; Ruta de Fabricacion" class="form-control input-md"
                            type="text"/>
                    </div>
                    <label class="col-md-2 control-label" for="textinput">Descripcion</label>
                    <div class="col-md-3">
                        <input id="textinput" name="textinput" placeholder="Descripcion Corta"
                            class="form-control input-md" type="text"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="textinput">Material</label>
                    <div class="col-md-3">
                        <input id="textinput" name="textinput" placeholder="Material" class="form-control input-md"
                            type="text"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-5">
                    </div>
                    <div class="col-md-5">
                        
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div role="tabpanel">
        <table ng-table="tableParams" class="table table-striped">
            <thead>
                <tr>
                    <th>N&deg; Ruta</th>
                    <th>Material</th>
                    <th>Unidad Medida</th>
                    <th>Lote</th>
                    <th>N&deg; Centros de Trabajo</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="route in $data">
                    <td>{{route.id}}</td>
                    <td>{{route.workCenter}}</td>
                    <td>{{route.description}}</td>
                    <td>{{route.workforce}}</td>
                    <td>{{route.indirectExpenses}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>