<html lang="en" ng-app="erpApp" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title>ERP</title>

<!-- Bootstrap -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/carousel.css}" />
    <link rel="stylesheet" th:href="@{/css/megasite/reset.css}" /> <!-- CSS reset -->
    <link rel="stylesheet" th:href="@{/css/megasite/style.css}" /> <!-- Resource style -->
    <link rel="stylesheet" th:href="@{/css/ng-table/ng-table.min.css}" />
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <link rel="stylesheet" th:href="@{/css/datetimepicker/bootstrap-datetimepicker.css}" />
    <link rel="stylesheet" th:href="@{/css/jsTree/style.min.css}" />
    <script th:src="@{/js/megasite/modernizr.js}"></script> <!-- Modernizr -->

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
              <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
              <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
            <![endif]-->
</head>
    <body>
		
		<div th:replace="menu :: header">...</div>
		<div id="content" ui-view=""></div>
        
        <div class="cd-overlay"></div>

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script th:src="@{/js/jquery/jquery-2.1.1.js}" ></script>
        <script th:src="@{/js/jquery/jquery.mobile.custom.min.js}" ></script>
        <script th:src="@{/js/megasite/main.js}" ></script> <!-- Resource jQuery -->
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script th:src="@{/js/bootstrap.min.js}"></script>
        <script th:src="@{/js/angular/angular.min.js}" ></script>
        <script th:src="@{/js/angular/angular-ui-router.min.js}" ></script>
        <script th:src="@{/js/datetimepicker/moment.min.js}" ></script>
        <script th:src="@{/js/datetimepicker/bootstrap-datetimepicker.js}" ></script>
		<!-- Custom scripts -->
		<script th:src="@{/js/app/app.js}" ></script>
		
		<script th:src="@{/js/app/controllers/centersController.js}"></script>
		<script th:src="@{/js/app/controllers/providerController.js}"></script>
		<script th:src="@{/js/app/controllers/customersController.js}"></script>
		<script th:src="@{/js/app/controllers/fabricationRoutesController.js}"></script>
		<script th:src="@{/js/app/controllers/familyController.js}"></script>
		<script th:src="@{/js/app/controllers/inboundGuideController.js}"></script>
		<script th:src="@{/js/app/controllers/materialsController.js}"></script>
		<script th:src="@{/js/app/controllers/necesityPlannerController.js}"></script>
		<script th:src="@{/js/app/controllers/workCentersController.js}"></script>
		<script th:src="@{/js/app/controllers/outboundGuideController.js}"></script>
		<script th:src="@{/js/app/controllers/transfersController.js}"></script>
		<script th:src="@{/js/app/controllers/wastesController.js}"></script>
		<script th:src="@{/js/app/controllers/purchaseOrderController.js}"></script>
		<script th:src="@{/js/app/controllers/solpedController.js}"></script>
		
		<script th:src="@{/js/app/factories/centersFactory.js}"></script>
		<script th:src="@{/js/app/factories/providerFactory.js}"></script>
		<script th:src="@{/js/app/factories/customersFactory.js}"></script>
		<script th:src="@{/js/app/factories/fabricationRoutesFactory.js}"></script>
		<script th:src="@{/js/app/factories/familyFactory.js}"></script>
		<script th:src="@{/js/app/factories/inboundGuideFactory.js}"></script>
		<script th:src="@{/js/app/factories/materialsFactory.js}"></script>
		<script th:src="@{/js/app/factories/necesityPlannerFactory.js}"></script>
		<script th:src="@{/js/app/factories/workCentersFactory.js}"></script>
		<script th:src="@{/js/app/factories/outboundGuideFactory.js}"></script>
		<script th:src="@{/js/app/factories/transfersFactory.js}"></script>
		<script th:src="@{/js/app/factories/wastesFactory.js}"></script>		
		<script th:src="@{/js/app/factories/purchaseOrderFactory.js}"></script>
		<script th:src="@{/js/app/factories/solpedFactory.js}"></script>
		
		<script th:src="@{/js/ng-table/ng-table.min.js}" ></script>
		<script th:src="@{/js/jsTree/jstree.min.js}" ></script>
    </body>
</html>