<header class="cd-main-header">
    <a class="cd-logo" href="#0"><img th:src="@{/images/cd-logo.svg}" alt="Logo"/></a>
   
   <nav class="cd-nav">
       <ul id="cd-primary-nav" class="cd-primary-nav is-fixed">
           <li class="has-children">
               <a href="#">Datos Maestros</a>
               <ul class="cd-nav-icons is-hidden">
                   <li class="go-back"><a href="#">Menu</a></li>
                   <li>
                       <a class="cd-nav-item item-1 cd-link" ui-sref="gestionMateriales">
                           <h3 class="h3-menu">Gestion de Material</h3>
                           <p>Gestion de Material</p>
                       </a>
                   </li>
                   <li>
                       <a class="cd-nav-item item-2 cd-link" ui-sref="gestionProveedor">
                           <h3 class="h3-menu">Gestion de Proveedor</h3>
                           <p>Gestion de Proveedor</p>
                       </a>
                   </li>
                   <li>
                       <a class="cd-nav-item item-3 cd-link" ui-sref="gestionClientes">
                           <h3 class="h3-menu">Gestion de Clientes</h3>
                           <p>Gestion de Clientes</p>
                       </a>
                   </li>
                   <li>
                       <a class="cd-nav-item item-4 cd-link" ui-sref="gestionCentros">
                           <h3 class="h3-menu">Gestion de Centros</h3>
                           <p>Gestion de Centros</p>
                       </a>
                   </li>
                   <li>
                       <a class="cd-nav-item item-5 cd-link" ui-sref="gestionFamilia">
                           <h3 class="h3-menu">Gestion de Familia</h3>
                           <p>Gestion de Familia</p>
                       </a>
                   </li>
               </ul>
           </li>
           <li class="has-children">
               <a href="#">Inventarios</a>
               <ul class="cd-nav-icons is-hidden">
                   <li class="go-back"><a href="#0">Menu</a></li>
                   <li>
                       <a class="cd-nav-item item-1 cd-link" ui-sref="guiaEntrada">
                           <h3 class="h3-menu">Guia de Entrada</h3>
                           <p>Guia de Entrada</p>
                       </a>
                   </li>
                   <li>
                       <a class="cd-nav-item item-2 cd-link" ui-sref="guiaSalida">
                           <h3 class="h3-menu">Guia de Salida</h3>
                           <p>Guia de Salida</p>
                       </a>
                   </li>
                   <li>
                       <a class="cd-nav-item item-3 cd-link" ui-sref="transferencias">
                           <h3 class="h3-menu">Transferencias</h3>
                           <p>Transferencias</p>
                       </a>
                   </li>
                   <li>
                       <a class="cd-nav-item item-4 cd-link" ui-sref="mermas">
                           <h3 class="h3-menu">Mermas</h3>
                           <p>Mermas</p>
                       </a>
                   </li>
                   <li>
                       <a class="cd-nav-item item-5 cd-link" ui-sref="ajusteInventario">
                           <h3 class="h3-menu">Ajuste de Inventario</h3>
                           <p>Ajuste de Inventario</p>
                       </a>
                   </li>
               </ul>
           </li>
           <li class="has-children">
               <a href="#">Compras</a>
               <ul class="cd-nav-icons is-hidden">
                   <li class="go-back"><a href="#0">Menu</a></li>
                   <li>
                       <a class="cd-nav-item item-1 cd-link" ui-sref="ordenCompra">
                           <h3 class="h3-menu">Orden de Compra</h3>
                           <p>Orden de Compra</p>
                       </a>
                   </li>
                   <li>
                       <a class="cd-nav-item item-2 cd-link" ui-sref="solicitudPedido">
                           <h3 class="h3-menu">Solicitud de Pedido/Cotizacion</h3>
                           <p>Solicitud de Pedido/Cotizacion</p>
                       </a>
                   </li>
                   <li>
                       <a class="cd-nav-item item-3 cd-link" ui-sref="ordenServicio">
                           <h3 class="h3-menu">Orden de Servicio</h3>
                           <p>Orden de Servicio</p>
                       </a>
                   </li>
                   <li>
                       <a class="cd-nav-item item-4 cd-link" ui-sref="sugeridoCompra">
                           <h3 class="h3-menu">Sugerido de Compra</h3>
                           <p>Sugerido de Compra</p>
                       </a>
                   </li>
                   <li>
                       <a class="cd-nav-item item-5 cd-link" ui-sref="importaciones">
                           <h3 class="h3-menu">Importaciones</h3>
                           <p>Importaciones</p>
                       </a>
                   </li>
               </ul>
           </li>
           <li class="has-children">
               <a href="#">Produccion</a>
               <ul class="cd-nav-icons is-hidden">
                   <li class="go-back"><a href="#0">Menu</a></li>
                   <li>
                       <a class="cd-nav-item item-1 cd-link" ui-sref="listaMateriales">
                           <h3 class="h3-menu">Lista de Materiales</h3>
                           <p>Lista de Materiales</p>
                       </a>
                   </li>
                   <li>
                       <a class="cd-nav-item item-2 cd-link" ui-sref="centroTrabajo">
                           <h3 class="h3-menu">Centros de Trabajo</h3>
                           <p>Centros de Trabajo</p>
                       </a>
                   </li>
                   <li>
                       <a class="cd-nav-item item-3 cd-link" ui-sref="rutaFabricacion">
                           <h3 class="h3-menu">Ruta de Fabricacion</h3>
                           <p>Ruta de Fabricacion</p>
                       </a>
                   </li>
                   <li>
                       <a class="cd-nav-item item-4 cd-link" ui-sref="planificadorNecesidades">
                           <h3 class="h3-menu">Planificador de Necesidades</h3>
                           <p>Planificador de Necesidades</p>
                       </a>
                   </li>
                   <li>
                       <a class="cd-nav-item item-5 cd-link" ui-sref="ordenesFabricacion">
                           <h3 class="h3-menu">Ordenes de Fabricacion</h3>
                           <p>Ordenes de Fabricacion</p>
                       </a>
                   </li>
                   <li>
                       <a class="cd-nav-item item-6 cd-link" ui-sref="planMaestroProduccion">
                           <h3 class="h3-menu">Plan Maestro de Produccion</h3>
                           <p>Plan Maestro de Produccion</p>
                       </a>
                   </li>
                   <li>
                       <a class="cd-nav-item item-7 cd-link" ui-sref="seguimientoOrdenFabricacion">
                           <h3 class="h3-menu">Seguimiento a Orden de Fabricacion</h3>
                           <p>Seguimiento a Orden de Fabricacion</p>
                       </a>
                   </li>
               </ul>
           </li>
           <li class="has-children">
               <a href="#">Ventas</a>
               <ul class="cd-nav-icons is-hidden">
                   <li class="go-back"><a href="#0">Menu</a></li>
                   <li>
                       <a class="cd-nav-item item-1 cd-link" ui-sref="pedidoVenta">
                           <h3 class="h3-menu">Pedido de Venta</h3>
                           <p>Pedido de Venta</p>
                       </a>
                   </li>
               </ul>
           </li>
       </ul> <!-- primary-nav -->
   </nav> <!-- cd-nav -->

   <ul class="cd-header-buttons">
       <li><a href="#cd-primary-nav" class="cd-nav-trigger"><span></span></a></li>
   </ul> <!-- cd-header-buttons -->
</header>